@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --hue: 150;

  --title-weight: 600;
  --subtitle-weight: 500;

  --h1-size: 2rem;
  --h2-size: 1.5rem;
  --button-size: 1.25rem;
  --p-size: 1rem;

  --header-color: hsla(var(--hue), 98%, 98%);
  --font-color: hsla(var(--hue), 10%, 10%);
  --primary-color: hsl(var(--hue), 50%, 50%);
  --secondary-color: hsl(var(--hue), 35%, 35%);
  --primary-background-color: hsl(var(--hue), 98%, 98%);
  --secondary-background-color: hsl(var(--hue), 95%, 95%);
  --background-scrollbar-color: hsl(var(--hue), 8%, 80%);

  --my-shadow-color: hsla(var(--hue), 20%, 20%, 0.2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  background-color: var(--secondary-background-color);
}

h1 {
  font-weight: var(--title-weight);
  font-size: var(--h1-size);
}

h2 {
  font-weight: var(--title-weight);
  font-size: var(--h2-size);
  margin-bottom: 12px;
}

p {
  font-size: var(--p-size);
  font-weight: var(--subtitle-weight);
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* == Header == */
header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
}

#back {
  position: absolute;
  left: 20px;
}

#back > i {
  font-size: var(--h2-size);
  color: var(--header-color);
}

#head-name {
  color: var(--header-color);
}

/* == Main == */
#details {
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  background-color: var(--primary-background-color);
  color: var(--font-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--my-shadow-color);
}

#background,
#image,
#preview,
#tech-related,
#learn {
  padding: 0px 12px 20px 12px;
}

#contribution {
  padding: 0 12px;
}

button {
  padding: 12px;
  margin-right: 8px;
  font-size: var(--button-size);
  background-color: var(--primary-color);
  color: var(--primary-background-color);
  border-radius: 0.5rem;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 8px 24px var(--my-shadow-color);
}

button:hover {
  background-color: var(--secondary-color);
}

/* == Scrollbar === */
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--background-scrollbar-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}
