@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --hue: 200;
  --number-info: 2;
  --number-skill: 2;

  --title-weight: 600;
  --subtitle-weight: 500;

  --primary-color35: hsl(var(--hue), 35%, 35%);
  --primary-color: hsl(var(--hue), 50%, 50%);
  --background-color: hsl(var(--hue), 98%, 98%);
  --background-color-grey: hsl(var(--hue), 8%, 80%);

  --my-shadow-color: hsla(var(--hue), 50%, 50%, 0.2);

  --h2-size: 1.25rem;
  --h3-size: 1rem;
  --p-size: 0.75rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  background-color: var(--background-color);
}

h2,
h3 {
  font-weight: var(--title-weight);
}

p {
  font-size: var(--p-size);
  font-weight: var(--subtitle-weight);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ======== Header ========== */

.profile {
  position: relative;
  padding-top: 4rem;
}

.profile-data {
  display: grid;
  text-align: center;
}

.profile-image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.profile-image-container img {
  width: 100%;
}

.profile-border {
  justify-self: center;
  width: 165px;
  height: 165px;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.5rem;
}

.profile-name {
  font-size: var(--h2-size);
}

.profile-info {
  grid-template-columns: repeat(var(--number-info), max-content);
  justify-content: center;
  align-items: center;
  column-gap: 2.5rem;
}

.profile-info-group {
  text-align: center;
}

.profile-info-number {
  font-size: var(--h3-size);
  margin-bottom: 0.25rem;
}

.button {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px var(--my-shadow-color);
}

.button i {
  font-size: 1.25rem;
}

.button:hover {
  background-color: var(--primary-color35);
}

/* ======== Main ========== */

.filter-content {
  margin: 2rem 0 2.5rem;
  background-color: var(--background-color-grey);
  padding: 0.5rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.filter-button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  background-color: transparent;
  color: var(--primary-color);
  font-size: var(--h3-size);
  font-family: Poppins, sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.filter-button:hover,
.filter-button.filter-active {
  background-color: var(--background-color);
}

.filter-sections [data-content] {
  display: none;
}

.filter-sections .skill-active[data-content] {
  display: grid;
}

/* === Main (Project) === */
.project-card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: 100%;
}

.project-card-description {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), 20%, 40%, 0.3) 0%,
    hsla(var(--hue), 20%, 4%, 1) 95%
  );
  bottom: -100%;
  left: 0;
  display: grid;
  align-items: flex-end;
  padding: 1.25rem;
  transition: 0.3s;
}

.project-card:hover .project-card-description {
  bottom: 0;
}

.project-card-title,
.project-card-subtitle {
  color: var(--background-color);
}

.project-card-title {
  font-size: var(--h3-size);
  margin-bottom: 0.5rem;
}

/* === Main (Skills) === */
.skills-content {
  row-gap: 1rem;
}

.skills-title {
  text-align: center;
  margin-bottom: 1rem;
}

.skills-box {
  display: grid;
  grid-template-columns: repeat(var(--number-skill), max-content);
  justify-content: center;
  row-gap: 1rem;
  column-gap: 2.5rem;
  margin-bottom: 2.5rem;
}

.skill-data {
  display: flex;
  column-gap: 0.5rem;
}

.skill-data i {
  font-size: 1rem;
  color: var(--primary-color);
}

.skill-name {
  line-height: 20px;
}
