@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --hue: 200;

  --title-weight: 600;
  --subtitle-weight: 500;
  --content-weight: 400;

  --h1-size: 2rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;
  --button-size: 1.25rem;
  --p-size: 1rem;

  --color-8-80: hsl(var(--hue), 8%, 80%);

  --color-8: hsl(var(--hue), 8%, 8%);
  --color-10: hsla(var(--hue), 10%, 10%);
  --color-35: hsl(var(--hue), 35%, 35%);
  --color-50: hsl(var(--hue), 50%, 50%);
  --color-80: hsl(var(--hue), 80%, 80%);
  --color-95: hsl(var(--hue), 95%, 95%);
  --color-98: hsl(var(--hue), 98%, 98%);

  --color-20-shadow-20: hsla(var(--hue), 20%, 20%, 0.2);
  --color-20-shadow-70: hsla(var(--hue), 20%, 20%, 0.7);

  --number-info: 2;
  --number-skill: 2;

  --card-width: 375px;
}

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  background-color: var(--color-95);
}

h1 {
  font-weight: var(--title-weight);
  font-size: var(--h1-size);
}

h2 {
  font-weight: var(--title-weight);
  font-size: var(--h2-size);
}

h3 {
  font-weight: var(--subtitle-weight);
  font-size: var(--h3-size);
}

p {
  font-weight: var(--content-weight);
  font-size: var(--p-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.hidden{
  display: none;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
