@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --hue: 150;

  --title-weight: 600;
  --subtitle-weight: 500;
  --content-weight: 400;

  --h1-size: 2rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;
  --button-size: 1.25rem;
  --p-size: 1rem;

  --primary-color: hsl(var(--hue), 50%, 50%);
  --secondary-color: hsl(var(--hue), 35%, 35%);

  --primary-background-color: hsl(var(--hue), 98%, 98%);
  --secondary-background-color: hsl(var(--hue), 95%, 95%);
  --tertiary-background-color: hsl(var(--hue), 8%, 80%);

  --header-color: hsla(var(--hue), 98%, 98%);
  --font-color: hsla(var(--hue), 10%, 10%);

  --my-shadow-color: hsla(var(--hue), 20%, 20%, 0.2);

  --number-info: 2;
  --number-skill: 2;
}

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  background-color: var(--primary-background-color);
}

h1 {
  font-weight: var(--title-weight);
  font-size: var(--h1-size);
}

h2 {
  font-weight: var(--title-weight);
  font-size: var(--h2-size);
}

h3 {
  font-weight: var(--subtitle-weight);
  font-size: var(--h3-size);
}

p {
  font-weight: var(--content-weight);
  font-size: var(--p-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}
